
.commitsList {
  height: 80vh;
  width: auto;
  margin-top: 2vh;
  font-size: 2vh;
}

.commit {
  border: solid black 1px;
  padding: 4vh;
  text-align: left;
}

.commit > span {
  padding-bottom: 2vh;
}
