
.commitsList {
  width: auto;
  margin-top: 2vh;
  font-size: clamp(0.5rem, 1.5vw, 0.8rem);
  overflow: auto;
}

.commit {
  border-bottom: solid black 1px;
  padding: 4vh;
  text-align: left;
}

.commit > span {
  padding-bottom: 2vh;
}
